<div class="login-container">
  <div class="login-form">
    <div class="login-header">
      <img src="assets/images/image.png" alt="Logo" class="logo">
      <h1 class="login-title">Login</h1>
    </div>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" class="login-button">Login</button>
    </form>
    <p class="register-link">Don't have an account? <a routerLink="/register">Register</a></p>
  </div>
</div>